

DATABASE_URL="postgresql://neondb_owner:npg_C3q6MKIdfhiR@ep-calm-tooth-ad1hrwpp-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

NODE_ENV="development"

JWT_SECRET=SHRdeEoysKpwRZ3TTaHXIAztHO5N8ggasTKk0ebLntg