PORT=5000
DATABASE_URL="postgresql://neondb_owner:npg_C3q6MKIdfhiR@ep-calm-tooth-ad1hrwpp-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
PRISMA_CLIENT_ENGINE_TYPE="library"
NODE_ENV="development"
JWT_SECRET=SHRdeEoysKpwRZ3TTaHXIAztHO5N8ggasTKk0ebLntg

# Email Config (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
SMTP_FROM_EMAIL=your_email@gmail.com
